.home-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
  }
  