body{
    background-color: rgb(35, 223, 188);
    color:white;
    padding:4px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
} 
/* 
.divPractice{
    background-color: yellow;
}  */